In [12]:
from nba_api.stats.endpoints import teamgamelog, teaminfocommon
from nba_api.stats.static import teams

In [7]:
den = teams.find_teams_by_full_name("Denver")

In [10]:
denID = den[0]["id"]

In [29]:
denInfo = teaminfocommon.TeamInfoCommon(league_id="00", team_id=denID).get_data_frames()

In [30]:
denInfo

[      TEAM_ID SEASON_YEAR TEAM_CITY TEAM_NAME TEAM_ABBREVIATION  \
 0  1610612743     2022-23    Denver   Nuggets               DEN

   TEAM_CONFERENCE TEAM_DIVISION TEAM_CODE TEAM_SLUG   W   L    PCT  CONF_RANK  \
 0            West     Northwest   nuggets   nuggets  42  19  0.689          1

    DIV_RANK MIN_YEAR MAX_YEAR
 0         1     1976     2022  ,
   LEAGUE_ID SEASON_ID     TEAM_ID  PTS_RANK  PTS_PG  REB_RANK  REB_PG  \
 0        00     22022  1610612743         8   116.7        19    42.9

    AST_RANK  AST_PG  OPP_PTS_RANK  OPP_PTS_PG
 0         2    29.0            13       112.7  ,
     SEASON_ID
 0       21976
 1       41976
 2       21977
 3       41977
 4       21978
 ..        ...
 96      12021
 97      22021
 98      42021
 99      12022
 100     22022

 [101 rows x 1 columns]]